/*全局样式表*/
html,body,#app{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb{
  margin-bottom: 15px;
}

.el-table{
  margin-top: 10px;
  font-size: 12px;
}

.el-pagination{
  margin-top: 10px;
}

.el-cascader-menu{
  height: 300px;
}

/* .el-cascader-panel .el-radio__input{
  visibility:hidden;
} */

.el-radio__inner {
  border-radius: 0;
  border: 0;
  width: 170px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  top: -18px;
  left: -19px;
}

.el-radio__input.is-checked .el-radio__inner {
  background: transparent;
}

.el-steps{
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}